{% from "macros.jinja" import row_noipsw -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Release Date
{% for info in get_firmwares(models, "audioOS/21x - 17.x", True) %}
|-
{{ row_noipsw(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

== [[HomePod]] ==
{{ make_table(['AudioAccessory1,1','AudioAccessory1,2']) }}

== [[HomePod mini]] ==
{{ make_table(['AudioAccessory5,1']) }}

== [[HomePod (2nd generation)]] ==
{{ make_table(['AudioAccessory6,1']) }}

[[Category:Firmware]]
