{% from "macros.jinja" import row_release_bb -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Baseband
! Release Date
! Download URL
! SHA1 Hash
! File Size
! Documentation
{% for info in get_firmwares(models, "iPadOS/21x - 17.x", False) %}
|-
{{ row_release_bb(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

== [[iPad Air (3rd generation)]] ==
{{ make_table(['iPad11,3', 'iPad11,4']) }}

== [[iPad Air (4th generation)]] ==
{{ make_table(['iPad13,1', 'iPad13,2']) }}

== [[iPad Air (5th generation)]] ==
{{ make_table(['iPad13,16', 'iPad13,17']) }}

[[Category:Firmware]]
