{% from "macros.jinja" import row_release_bb, row_release_A11 -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Baseband
! Release Date
! Download URL
! SHA1 Hash
! File Size
! Documentation
{% for info in get_firmwares(models, "iOS/20x - 16.x", False) %}
|-
{{ row_release_bb(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

{% macro make_table2(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Baseband<br/>([[MDM9655]])
! Baseband<br/>([[PMB9948]])
! Release Date
! Download URL
! SHA1 Hash
! File Size
! Documentation
{% for info in get_firmwares(models, "iOS/20x - 16.x", False) %}
|-
{{ row_release_A11(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

== [[iPhone 8]] ==
{{ make_table2(['iPhone10,1', 'iPhone10,4']) }}

== [[iPhone 8 Plus]] ==
{{ make_table2(['iPhone10,2', 'iPhone10,5']) }}

== [[iPhone X]] ==
{{ make_table2(['iPhone10,3', 'iPhone10,6']) }}

== [[iPhone XR]] ==
{{ make_table(['iPhone11,8']) }}

== [[iPhone XS]] ==
{{ make_table(['iPhone11,2']) }}

== [[iPhone XS Max]] ==
{{ make_table(['iPhone11,4','iPhone11,6']) }}

== [[iPhone 11]] ==
{{ make_table(['iPhone12,1']) }}

== [[iPhone 11 Pro]] ==
{{ make_table(['iPhone12,3']) }}

== [[iPhone 11 Pro Max]] ==
{{ make_table(['iPhone12,5']) }}

== [[iPhone SE (2nd generation)]] ==
{{ make_table(['iPhone12,8']) }}

== [[iPhone 12 mini]] ==
{{ make_table(['iPhone13,1']) }}

== [[iPhone 12]] ==
{{ make_table(['iPhone13,2']) }}

== [[iPhone 12 Pro]] ==
{{ make_table(['iPhone13,3']) }}

== [[iPhone 12 Pro Max]] ==
{{ make_table(['iPhone13,4']) }}

== [[iPhone 13 mini]] ==
{{ make_table(['iPhone14,4']) }}

== [[iPhone 13]] ==
{{ make_table(['iPhone14,5']) }}

== [[iPhone 13 Pro]] ==
{{ make_table(['iPhone14,2']) }}

== [[iPhone 13 Pro Max]] ==
{{ make_table(['iPhone14,3']) }}

== [[iPhone SE (3rd generation)]] ==
{{ make_table(['iPhone14,6']) }}

== [[iPhone 14]] ==
{{ make_table(['iPhone14,7']) }}

== [[iPhone 14 Plus]] ==
{{ make_table(['iPhone14,8']) }}

== [[iPhone 14 Pro]] ==
{{ make_table(['iPhone15,2']) }}

== [[iPhone 14 Pro Max]] ==
{{ make_table(['iPhone15,3']) }}

[[Category:Firmware]]
