{% from "macros.jinja" import row_beta_bb, row_beta_A10, row_beta_A11 -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Baseband
! Release Date
! Download URL
! File Size
{% for info in get_firmwares(models, "iOS/19x - 15.x", True) %}
|-
{{ row_beta_bb(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

== [[iPhone 6s]] ==
{{ make_table(['iPhone8,1']) }}

== [[iPhone 6s Plus]] ==
{{ make_table(['iPhone8,2']) }}

== [[iPhone SE (1st generation)]] ==
{{ make_table(['iPhone8,4']) }}

== [[iPhone 7]] ==
{| class="wikitable"
|-
! Version
! Build
! Keys
! Baseband<br/>([[MDM9645]])
! Baseband<br/>([[PMB9943]])
! Release Date
! Download URL
! File Size
{% for info in get_firmwares(['iPhone9,1', 'iPhone9,3'], "iOS/19x - 15.x", True) %}
|-
{{ row_beta_A10(info, ['iPhone9,1', 'iPhone9,3']) | trim }}
{% endfor %}
|}

== [[iPhone 7 Plus]] ==
{| class="wikitable"
|-
! Version
! Build
! Keys
! Baseband<br/>([[MDM9645]])
! Baseband<br/>([[PMB9943]])
! Release Date
! Download URL
! File Size
{% for info in get_firmwares(['iPhone9,2', 'iPhone9,4'], "iOS/19x - 15.x", True) %}
|-
{{ row_beta_A10(info, ['iPhone9,2', 'iPhone9,4']) | trim }}
{% endfor %}
|}

== [[iPhone 8]] ==
{| class="wikitable"
|-
! Version
! Build
! Keys
! Baseband<br/>([[MDM9655]])
! Baseband<br/>([[PMB9948]])
! Release Date
! Download URL
! File Size
{% for info in get_firmwares(['iPhone10,1', 'iPhone10,4'], "iOS/19x - 15.x", True) %}
|-
{{ row_beta_A11(info, ['iPhone10,1', 'iPhone10,4']) | trim }}
{% endfor %}
|}

== [[iPhone 8 Plus]] ==
{| class="wikitable"
|-
! Version
! Build
! Keys
! Baseband<br/>([[MDM9655]])
! Baseband<br/>([[PMB9948]])
! Release Date
! Download URL
! File Size
{% for info in get_firmwares(['iPhone10,2', 'iPhone10,5'], "iOS/19x - 15.x", True) %}
|-
{{ row_beta_A11(info, ['iPhone10,2', 'iPhone10,5']) | trim }}
{% endfor %}
|}

== [[iPhone X]] ==
{| class="wikitable"
|-
! Version
! Build
! Keys
! Baseband<br/>([[MDM9655]])
! Baseband<br/>([[PMB9948]])
! Release Date
! Download URL
! File Size
{% for info in get_firmwares(['iPhone10,3', 'iPhone10,6'], "iOS/19x - 15.x", True) %}
|-
{{ row_beta_A11(info, ['iPhone10,3', 'iPhone10,6']) | trim }}
{% endfor %}
|}

== [[iPhone XR]] ==
{{ make_table(['iPhone11,8']) }}

== [[iPhone XS]] ==
{{ make_table(['iPhone11,2']) }}

== [[iPhone XS Max]] ==
{{ make_table(['iPhone11,4','iPhone11,6']) }}

== [[iPhone 11]] ==
{{ make_table(['iPhone12,1']) }}

== [[iPhone 11 Pro]] ==
{{ make_table(['iPhone12,3']) }}

== [[iPhone 11 Pro Max]] ==
{{ make_table(['iPhone12,5']) }}

== [[iPhone SE (2nd generation)]] ==
{{ make_table(['iPhone12,8']) }}

== [[iPhone 12 mini]] ==
{{ make_table(['iPhone13,1']) }}

== [[iPhone 12]] ==
{{ make_table(['iPhone13,2']) }}

== [[iPhone 12 Pro]] ==
{{ make_table(['iPhone13,3']) }}

== [[iPhone 12 Pro Max]] ==
{{ make_table(['iPhone13,4']) }}

== [[iPhone 13 mini]] ==
{{ make_table(['iPhone14,4']) }}

== [[iPhone 13]] ==
{{ make_table(['iPhone14,5']) }}

== [[iPhone 13 Pro]] ==
{{ make_table(['iPhone14,2']) }}

== [[iPhone 13 Pro Max]] ==
{{ make_table(['iPhone14,3']) }}

== [[iPhone SE (3rd generation)]] ==
{{ make_table(['iPhone14,6']) }}

[[Category:Firmware]]
