{% from "macros.jinja" import row_beta -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Release Date
! Download URL
! File Size
{% for info in get_firmwares(models, "iOS/19x - 15.x", True) %}
|-
{{ row_beta(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

== [[iPod touch (7th generation)]] ==
{{ make_table(['iPod9,1']) }}

[[Category:Firmware]]
