{% from "macros.jinja" import row_release, row_ia -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Release Date
! Download URL
! SHA1 Hash
! File Size
! Documentation
{% for info in get_firmwares(models, "macOS/21x - 12.x") %}
|-
{% if info.build in ('21A344', '21D2048') %}
| {{info.version}}
| {{info.build}}
| {{ '{{n/a}}' }}
| Preinstalled
| colspan="4" {{ '{{n/a}}' }}
{% else %}
{{ row_release(info, models) | trim }}
{% endif %}
{% endfor %}
|}
{%- endmacro -%}

== Intel Macs ==
{| class="wikitable"
|-
! Version
! Build
! Release Date
! Download URL
! SHA1 Hash
! File Size
! Documentation
{% for info in get_firmwares(["VirtualMac2,1"], "macOS/21x - 12.x", False, "installassistant") %}
|-
{{ row_ia(info, include_docs=True) | trim }}
{% endfor %}
|}

== [[MacBook Air (M1, 2020)]] ==
{{ make_table(['MacBookAir10,1']) }}

== [[MacBook Pro (13-inch, M1, 2020)]] ==
{{ make_table(['MacBookPro17,1']) }}

== [[Mac mini (M1, 2020)]] ==
{{ make_table(['Macmini9,1']) }}

== [[iMac (24-inch, M1, 2021)]] ==
{{ make_table(['iMac21,1', 'iMac21,2']) }}

== [[MacBook Pro (14-inch, 2021)]] ==
{{ make_table(['MacBookPro18,3', 'MacBookPro18,4']) }}

== [[MacBook Pro (16-inch, 2021)]] ==
{{ make_table(['MacBookPro18,1', 'MacBookPro18,2']) }}

== [[Mac Studio]] ==
{{ make_table(['Mac13,1', 'Mac13,2']) }}

== [[MacBook Air (M2, 2022)]] ==
{{ make_table(['Mac14,2']) }}

== [[MacBook Pro (13-inch, M2, 2022)]] ==
{{ make_table(['Mac14,7']) }}

[[Category:Firmware]]
