{% from "macros.jinja" import row_beta -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Release Date
! Download URL
! File Size
{% for info in get_firmwares(models, "visionOS/21x - 1.x", True) %}
|-
{{ row_beta(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

== [[Apple Vision Pro]] ==
{{ make_table(['RealityDevice14,1']) }}

[[Category:Firmware]]